<div id="footer">
  <div class="site-footer">
    <p>
    <ul class="link">
      <span>友情链接 :</span> {eyou:flink titlelen='45' type='text'}
      <li><a href="{$field.url}" {$field.target}>{$field.title} </a></li>
      {/eyou:flink}
    </ul>
    </p>
    <p class="copyright">{eyou:global name='web_copyright' /} |  {eyou:global name='web_recordnum' /} </p>
  </div>
  <div id="totop"><i class="icon-up-open"></i></div>
</div>
<div class="share-box">
  <div class="mask"></div>
  <div class="share-item" style="top: 236.333333333333px; left: 572.5px;">
    <div class="bdsharebuttonbox bdshare-button-style0-24" data-bd-bind="1429758066009"> <span class="title">分享到：</span> <a title="分享到QQ空间" href="#" class="sicon-qzone" data-cmd="qzone"></a> <a title="分享到新浪微博" href="#" class="sicon-tsina" data-cmd="tsina"></a> <a title="分享到腾讯微博" href="#" class="sicon-tqq" data-cmd="tqq"></a> <a title="分享到人人网" href="#" class="sicon-renren" data-cmd="renren"></a> <a title="分享到微信" href="#" class="sicon-weixin" data-cmd="weixin"></a> <a href="#" class="sicon-more" data-cmd="more"></a> </div>
  </div>
</div>
{eyou:global name='web_thirdcode_pc' /} 
<!-- 应用插件标签 start --> 
{eyou:weapp type='default' /} 
<!-- 应用插件标签 end -->