<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{$eyou.field.seo_title}</title>
<meta name="description" content="{eyou:global name='web_description' /}" />
<meta name="keywords" content="{eyou:global name='web_keywords' /}" />
<link href="{eyou:global name='web_cmspath' /}/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE;chrome=1">
{eyou:static file="skin/js/jquery-v1.10.2.min.js" /}
{eyou:static file="skin/css/fontello.css" /}
<!--[if lte IE 7]>
{eyou:static file="skin/css/fontello-ie7.min.css" /}
<![endif]-->
{eyou:static file="skin/css/style.css" /}
{eyou:static file="skin/css/share.css" /}
{eyou:static file="skin/js/share.css" /}
</head>
<body>
<div id="wrapper">
  {eyou:include file="header.htm" /}
  <div id="main">
    <div class="wrap">
      <div class="post">

        <div class="post-title">
          <h1 class="title"> {$eyou.field.title}</h1>
          <div class="post_icon"> <span class="mr10  postuser"><i class="icon-user"></i><a>{$eyou.field.author}</a></span> <span class="mr10  postclock"><i class="icon-clock"></i>{$eyou.field.add_time|MyDate='Y-m-d H:i:s',###} </span> <span class="mr10 posteye"><i class=" icon-eye" ></i>{eyou:arcclick /}</span> <!--<span> <a id="newdigg" title="喜欢就赞一个！" href="javascript:postDigg('good',{dede:field.id/})" data-action="ding" class="favorite"> <i class="  icon-thumbs-up" style="color:#f66"></i><span class="count">{dede:field.goodpost/}</span> </a> </span>--> </div>
        </div>
        <div class="post-content">
          {$eyou.field.content} 
        </div>
        <div class="post-share clearfix"> <span class="like"> <a id="newdigg" title="喜欢就赞一个！"href="javascript:postDigg('good',{dede:field.id/})" data-action="ding"  class="favorite"><i class="icon-thumbs-up"></i>赞 <span class="count"></span></a> </span> 
        <span class="post-bdshare bdsharebuttonbox bdshare-button-style0-24" data-bd-bind="1498541540090"><a class="bds_more share-btn" href="javascript:;"><i class="icon-share"></i>分享</a></span>
          <div class="clear"></div>
        </div>
        <div class="postmetadata"> 
          <i class="icon-share-squared"></i>本文链接地址：<a href="{$eyou.field.arcurl}" title="{$eyou.field.title}">{$eyou.field.title}</a> , 转载请保留本说明！
          <div class="post-tags">
            <div class="tags"><i class=" icon-bookmark"></i>标签：
              {eyou:tag sort='now' getall='0' row='100'}
              <a href='{$field.link}'>{$field.tag}</a>&nbsp;&nbsp;
              {/eyou:tag}
            </div>
          </div>
        </div>
        
      {eyou:ad aid='6'}
        <div class="ad700"><a href="{$field.links}" title="{$field.title}" target="_blank"><img src="{$field.litpic}" alt="{$field.title}"></a></div>
      {/eyou:ad}
        <div class="clear"></div>
        <div id="related">
          <div class="related_about"><span>相关文章</span></div>
          <ul class="related_img">
          {eyou:arclist titlelen='30' orderby ='rand' row='4'}
            <li class="related_box"  > <a href="{$field.arcurl}" title="{$field.title}" target="_blank"> <img class="thumbnail" src="{$field.litpic}" alt="{$field.title}" />
              <h3>{$field.title}</h3>
              </a> </li>
          {/eyou:arclist} 
          </ul>
        </div>
      </div>
      <div class="clear"></div>
      <div class="clear"></div>
    </div>
  </div>
  {eyou:include file="left.htm" /}
</div>
{eyou:include file="footer.htm" /}

{eyou:static file="skin/js/bootstrap.js" /}
{eyou:static file="skin/js/jquery-ias.min.js" /}
{eyou:static file="skin/js/traveler.js" /}
 
<script type="text/javascript">
$(function(){var win_width=$(window).width();var wrap_width=$('#wrap').width();var totop_width=$('#totop').width();var totop_posi=([win_width-wrap_width]/25-totop_width);$('#totop').css({'right':totop_posi});$(window).scroll(function(){if($(window).scrollTop()>=200){$('#totop').slideDown(200)}else{$('#totop').slideUp(200)}});$('#totop').click(function(){$('body,html').animate({scrollTop:0},200)})});
</script> 
{eyou:static file="skin/js/jquery.lazyload.min.js" /}
<script type="text/javascript">
jQuery(function() {         
    jQuery("img").lazyload({effect : "fadeIn",failure_limit : 10 ,threshold : 50 ,}); });
ias.on('rendered', function(items) {
	$("img.lazy").lazyload({effect : "fadeIn",failure_limit : 10 ,threshold : 50 ,});
})	
</script> 
<script type="text/javascript">
$(document).ready(function() { 
$.fn.postLike = function() {
	if ($(this).hasClass('done')) {
		alert("您已经赞过啦:-)");
		return false;
	} else {
		$(this).addClass('done');
		var id = $(this).data("id"),
		action = $(this).data('action'),
		rateHolder = $(this).children('.count');
		var ajax_data = {
			action: "bigfa_like",
			um_id: id,
			um_action: action
		};
		$.post("/wp-admin/admin-ajax.php", ajax_data,
		function(data) {
			$(rateHolder).html(data);
		});
		return false;
	}
};
$(document).on("click", ".favorite",
function() {
	$(this).postLike();
});}); 
</script> 
<script>
window.jui = {
	uri: '/wp-content/themes/traveler2',
	roll: ["1","2"]}
</script> 
{eyou:static file="skin/js/affix.js" /}
{eyou:static file="skin/js/suxingme.js" /}
{eyou:static file="skin/js/fancybox.js" /}
<script type="text/javascript"> 
			$(document).ready(function() {$(".fancybox").fancybox()});
		</script> 
{eyou:static file="skin/js/wp-embed.min.js" /}
</body>
</html>